<div class="page-wrapper">
<div class="register-sec-w3l" id="register">
  <div class="container">
    <div class="col-md-10 col-sm-12 book-appointment">
      <h3>Login Here </h3>
      <div ng-show="authCtrl.error" class="text-center card">
        <span class="btn btn-danger">{{authCtrl.error.message}}</span>
      </div>
      <form ng-submit="authCtrl.login()">

        <div class="gaps">
          <p>Username(Email ID))</p>
          <input type="email" name="lgnemail" placeholder="" required="" ng-model="authCtrl.user.email">
        </div>
        <div class="gaps">
          <p>Password</p>
          <input type="password" name="lgnpassword" placeholder="" id="lgnpassword" required="" ng-model="authCtrl.user.password">
        </div>
        <input type="submit" value="Submit">
      </form>
      
    </div>

  </div>
  </div>
