<div class="page-wrapper">
<div class="register-sec-w3l" id="register">
      <div class="container">
        <div class="col-md-10 col-sm-12 book-appointment">
          <h3>Register Here </h3>
          <div ng-show="authCtrl.error" class="text-center card">
            <span class="btn btn-danger">{{authCtrl.error.message}}</span>
          </div>
          <form ng-submit="authCtrl.register()">
            <div class="gaps">
              <p>Your Name</p>
              <input type="text" name="Name" placeholder="Names" placeholder="Your name" required="">
            </div>
            <div class="gaps">
              <p>Email ID</p>
              <input type="email" class="form-control" placeholder="Email" ng-model="authCtrl.user.email">
            </div>
            <div class="gaps">
              <p>Password</p>
              <input type="password" class="form-control" id="password1" placeholder="Password" ng-model="authCtrl.user.password">
            </div>
            <div class="gaps">
              <p>Confirm Password</p>
              <input type="password" name="password2" placeholder="Confirm your password" id="password2" required="" placeholder="confirm passowrd">
            </div>
            <div class="gaps">
              <p>Contact Number</p>
              <input placeholder="cellnumber" type="text" name="Number" placeholder="" required="">
            </div>
            <input type="submit" value="Submit">
          </form>
        </div>
      </div>
</div>
</div>

 
  